@import url('https://fonts.googleapis.com/css?family=Arial&display=swap');
*
{font-family: 'Arial', sans-serif;}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background:linear-gradient(#2b1055,#4169E1);
}

ul {
    margin: 0;
    padding: 0;
}

li {list-style: none;}

/*----------------------------------------------------------*/
/*------------------------- HEADER -------------------------*/
/*----------------------------------------------------------*/
/*A retrouver sur la page cssCommun*/

/*-------------------*/
/*----ICON HEADER----*/
/*-------------------*/

.iconMenuDerounlant {
    display: none;
}

/*----------------------------------------------------------*/
/*------------------------- MAIN ---------------------------*/
/*----------------------------------------------------------*/
main {
    display: flex;
    justify-content: space-around;
    /* padding: 8px;/*pour bien voir le main
    background-color: #245e5e; */
    align-items: center;
    height: 100vh;
}

main p {
    padding: 0;
    margin: 0;
}

/*-------------------------------------*/
/*------------- RIGHT MAIN -------------*/
/*-------------------------------------*/
#rigthMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 85%;
    text-align: center;
    /* background-color: #F28C28; */
}

/*----------------------*/
/*--- TOP RIGHT MAIN ---*/
/*----------------------*/

#topRigthMain {
    display: flex;
    justify-content: space-around;
    /* background-color: aqua; */
    height: 45%;
    width: 100%;
}

main a {
    text-decoration: none;
    color: black;
    align-self: center;
}

.linkpage {
    display: flex;
    /* background-color: yellow; */
    height: 80%;
    width: 25%;
    align-items: center;
}

#SaeOdomo:hover, #SaeAfficheJpo:hover, #SaeJeuDePlateau:hover, 
#SaeWeb:hover, #SaeBiosphere:hover, #SaeSystemes:hover {
    color: white;
    background-color: #2b1055;
    transform: scale(1.1);
}

#SaeOdomo, #SaeAfficheJpo, #SaeJeuDePlateau, #SaeBiosphere , #SaeWeb, #SaeSystemes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    height: 100%;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

#SaeOdomo img, #SaeBiosphere img, #SaeJeuDePlateau img, #SaeWeb img, #SaeSystemes img,  #SaeAfficheJpo img  {
    /* background-color: #245e5e; */
    max-width: 85%;
    height: 40%;
}

/*-------------------------*/
/*--- BOTTOM RIGHT MAIN ---*/
/*-------------------------*/

#bottomRigthMain {
    display: flex;
    justify-content: space-around;
    /* background-color: lightgreen; */
    height: 45%;
    width: 100%;
}


/*----station météo (odomo)----*/
#SaeOdomo {background-color: #3bc5c5;}

/*--- affiche jpo (communication) ---*/
#SaeAfficheJpo { background-color: mediumseagreen}

/*--- jeu de plateau c# (ihm/dev objet) ---*/
#SaeJeuDePlateau {background-color: mediumpurple;}

/*--- IA (biosphere) ---*/
#SaeBiosphere { background-color: #3bc5c5;}

/*--- création machine virtuelle ---*/
#SaeSystemes { background-color: cornflowerblue; }

/*--- site web ---*/
#SaeWeb { background-color: sandybrown; }

/*couleur : coral*/


/*-------------------------------*/
/*------------- pdp -------------*/
/*-------------------------------*/

main .pdp {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: brown; */
    width: fit-content;
    height: 250px;
    margin: 0px;
}

main .pdp img {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    padding: 5px;
}

main .pdp figcaption {
    width: 120px;
    padding: 2px;
    margin: 0;
    background-color: beige;
    font-size: 1rem;
    font-weight: bold;
    border-radius:20px; 
    text-align: center;
}

@media (max-width: 768px) { 

    /*-------------------------------------*/
    /*---------------- BODY ---------------*/
    /*-------------------------------------*/

    body { 
        height: 1500px;
    }

    /*-------------------------------------*/
    /*---------------- MAIN ---------------*/
    /*-------------------------------------*/
    
    main {
        flex-direction: column;
    }

    /*-------------------------------*/
    /*-----------HEDER/ICON----------*/
    /*-------------------------------*/

    header {
        height: 50px;
        justify-content: flex-start;
    }

    header nav {
        height: 100%;
    }

    header nav ul {
        display: none;
    }

    .iconMenuDerounlant {
        display: block;
        align-self: center;
        margin-left: 5px;
        color: aliceblue;
        font-size: 1.5rem;
    }

    header.responsive nav ul {
        display: flex;
        flex-direction: column;
        margin-left: 7px;
    }

    .menu a {
       font-size: 0.75rem;
    }

    /*-------------------------------------*/
    /*------------- .pdp -------------*/
    /*-------------------------------------*/

    main .pdp {
        height: 150px;
    }

    main .pdp img {
        width: 100px;
        height: 100px;
    }

    main .pdp figcaption {
        font-size: 0.8rem;
        width: 90px;
    }

    /*-------------------------------------*/
    /*---------------- MAIN ---------------*/
    /*-------------------------------------*/
    
    main {
        height: 100%;
        justify-content: space-evenly;
    }
    
    /*-----------------------------*/
    /*--- TOP/BOTTOM RIGHT MAIN ---*/
    /*-----------------------------*/

    #topRigthMain, #bottomRigthMain {
        flex-direction: column;
        justify-content: space-evenly;
        height: 50%;
        width: 100%;
    }

    .linkpage {
        height: 25%;
        width: 40%;
        min-width: 130px;
    }
}