@import url('https://fonts.googleapis.com/css?family=Arial&display=swap');
*
{font-family: 'Arial', sans-serif;}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background:linear-gradient(#2b1055,#4169E1);
}

header ul, p {
    margin: 0;
    padding: 0;
}

header li {list-style: none;}

/*----------------------------------------------------------*/
/*------------------------- HEADER -------------------------*/
/*----------------------------------------------------------*/

/*A retrouver sur la page cssCommun ainsi que la classe .nom*/

/*----------------------------------------------------------*/
/*------------------------- MAIN ---------------------------*/
/*----------------------------------------------------------*/

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 1.25rem;
    /* background-color: orchid; */
}

/*--------------------------------*/
/*------- retexIABiosphere -------*/
/*--------------------------------*/

#retexIABiosphere {
    color: #2C2222;
    padding: 10px;
    background-color: rgb(192, 154, 104);
    border-radius: 25px;
    border-bottom-left-radius: 0px;
}

h3 {
    padding: 0;
    margin: 0;
}

/*----------------------*/
/*------- figure -------*/
/*----------------------*/

figure {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0;
    /* background-color: gray; */
}

figure figcaption {
    margin-top: 10px;
    color: antiquewhite;
    font-weight: bold;
}

.plateau {
    width: 400px;
    height: 400px;
}

@media (max-width : 1000px) {

    main {
        font-size: 1rem;
    }

    .plateau {
        width: 350px;
        height: 350px;
    }
}

@media (max-width : 768px) {

    body {
        height: 115vh;
    }

    main {
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 0.9rem;
    }

    .plateau {
        width: 250px;
        height: 225px;
    }  

    h3 {
        font-size: 0.95rem;
    }
}