@import url('https://fonts.googleapis.com/css?family=Arial&display=swap');
*
{font-family: 'Arial', sans-serif;}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background:linear-gradient(#2b1055,#4169E1);
}

header ul, p {
    margin: 0;
    padding: 0;
}

header li {list-style: none;}

/*----------------------------------------------------------*/
/*------------------------- HEADER -------------------------*/
/*----------------------------------------------------------*/

/*A retrouver sur la page cssCommun ainsi que la classe .nom*/
 
/*----------------------------------------------------------*/
/*------------------------- MAIN ---------------------------*/
/*----------------------------------------------------------*/

main {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    background-color: rgb(42, 116, 165);
}

/*------------------------*/
/*------- Interface ------*/
/*------------------------*/

.Interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: green;
    width: fit-content;
    padding: 3px;
    color: aliceblue;
}

.Interface img {
    height: auto;
    width: 400px;
    border-radius: 10px;
}

.Interface figcaption {
    margin-top: 5px;
}


/*--------------------------*/
/*------- retexOdomo -------*/
/*--------------------------*/

.retexOdomo {
    color: #2C2222;
    padding: 10px;
    opacity: 75%;
    background-color: aliceblue;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
}

h3 {
    padding: 0;
    margin: 0;
}

/*----------------------------*/
/*------  MEDIA QUERRY  ------*/
/*----------------------------*/

@media (max-width: 768px) { 

    main {
        flex-direction: column-reverse;
        font-size: 0.9rem;
    }

    .Interface img {
        height: auto;
        width: 275px;
        border-radius: 10px;
    }

}


