@import url('https://fonts.googleapis.com/css?family=Arial&display=swap');
*
{font-family: 'Arial', sans-serif;}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background:linear-gradient(#2b1055,#4169E1);
}

header ul, p {
    margin: 0;
    padding: 0;
}

header li {list-style: none;}

/*----------------------------------------------------------*/
/*------------------------- HEADER -------------------------*/
/*----------------------------------------------------------*/

/*A retrouver sur la page cssCommun ainsi que la classe .nom*/
 

/*----------------------------------------------------------*/
/*------------------------- MAIN ---------------------------*/
/*----------------------------------------------------------*/

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 100%;
    /* background-color: orchid; */
}

/*--------------------------------*/
/*------- retexVMSystemes -------*/
/*--------------------------------*/

#retexAnalyseGestion {
    color: #2C2222;
    padding: 10px;
    opacity: 70%;
    background-color: aliceblue;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
}

h3 {
    padding: 0;
    margin: 0;
}


/*----------------------*/
/*------- figure -------*/
/*----------------------*/

figure {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    margin: 0;
    /* background-color: gray; */
}

figure figcaption {
    margin-top: 10px;
    color: aliceblue;
    font-weight: bold;
}

.diagramme {
    border-radius: 10px;
    width: 100%;
}

@media (max-width : 1000px) {

    main {
        flex-direction: column;
        font-size: 0.9rem;
    }

    .diagramme {
        width: 75%;
    }
}

@media (max-width : 768px) {

    main {
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 0.9rem;
    }

    .diagramme {
        width: 70%;
    } 

    h3 {
        font-size: 0.95rem;
    }
}
