@import url('https://fonts.googleapis.com/css?family=Arial&display=swap');
*
{font-family: 'Arial', sans-serif;}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    background:linear-gradient(#2b1055,#4169E1);
}

header ul, p {
    margin: 0;
    padding: 0;
}

header li {list-style: none;}

/*----------------------------------------------------------*/
/*------------------------- HEADER -------------------------*/
/*----------------------------------------------------------*/

/*A retrouver sur la page cssCommun ainsi que la classe .nom*/
 
/*----------------------------------------------------------*/
/*------------------------- MAIN ---------------------------*/
/*----------------------------------------------------------*/

main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 100%;
    height: 100%;
    /* background-color: rgb(42, 116, 165);   */
}

/*------------------------*/
/*------- Interface ------*/
/*------------------------*/

.pageAccueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* background-color: green;  */
    width: fit-content;
    padding: 3px;
    color: aliceblue;
}

.pageAccueil img {
    width: 60%;
    border-radius: 10px;
}

.pageAccueil figcaption {
    margin-top: 10px;
    color: aliceblue;
    font-weight: bold;
}


/*---------------------*/
/*------- blocs -------*/
/*---------------------*/

.bloc_1  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: lightgreen;    */
    width: 80%;
}

/*----------------------------------*/
/*------- retexSiteStreaming -------*/
/*----------------------------------*/

.retexSiteStreaming {
    color: #2C2222;
    padding: 10px;
    opacity: 70%;
    background-color: aliceblue;
    border-radius: 25px;
    border-bottom-left-radius: 0px;
    width: fit-content;
}

h3 {
    padding: 0;
    margin: 0;
}

/*----------------------------*/
/*------  MEDIA QUERRY  ------*/
/*----------------------------*/


@media (max-width : 1000px) {

    main {
        font-size: 0.9rem;
    }

    .pageAccueil img {
        width: 700px;
    }

    .bloc_1 {
        justify-content: space-between;
    }

}

@media (max-width: 768px) { 

    main {
        flex-direction: column;
    }

    .pageAccueil img {
        height: auto;
        width: 300px;
        border-radius: 10px;
    }

    .bloc_1  {
        flex-direction: column;
        height: 550px;
    }

}


